{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
      necessitatibus sit pariatur vel eius suscipit numquam nesciunt quod, sequi
      eum, blanditiis in unde iure itaque commodi. Deleniti, accusamus dolore!
      Eum temporibus aut, quas perspiciatis fugit voluptates totam provident
      quae quaerat, consectetur sed. Soluta aut, voluptate nesciunt laboriosam
      quas itaque corporis quisquam ad facilis pariatur aliquam vel porro
      accusamus dolore, sapiente veniam quod, unde nobis consectetur similique
      cum. Deserunt porro quidem similique rerum nisi optio quaerat sed.
      Eligendi quam illum animi quod nam neque natus praesentium iure minus
      aliquid at nostrum explicabo cupiditate et est qui, dignissimos fugiat?
      Quisquam, harum est?
    </p>
    <div class="text-center">
      <a class="btn btn-secondary" href="/signin">Signin</a>
      <a class="btn btn-dark" href="{% url 'signup'%}">Signup</a>
    </div>
  </section>
</main>
{% endblock %}
